# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.venv/
*.so
build/
dist/
.pytest_cache/

# Generated artifacts
gen/
generated/
*.log

# IDEs
.vscode/
.idea/
*.swp
.cache/


# Zephyr build
cmake-build-*/
build/
build-*/
