cmake_minimum_required(VERSION 3.20.0)

find_package(Zephyr REQUIRED HINTS $ENV{ZEPHYR_BASE})
project({{ profile.name }})

target_sources(app PRIVATE src/main.c)
{% for svc in profile.services %}
target_sources(app PRIVATE src/{{ svc.name }}_service.c)
{% endfor %}
