sample:
  name: GATT Generated {{ profile.name }}

tests:
  sample.bluetooth.gatt_gen_{{ profile.name }}:
    build_only: true
    platform_allow:
      - native_sim
      - nrf52_bsim/native
    tags: bluetooth
